<div class="col-md-9 panel panel-default padding-10 mgn-top-5 standard-height">
	<table id="skill-description" class="table table-bordered table-striped table-hover">
		<tr>
			<td>
				Helloc
			</td>
			<td>
				Helloc
			</td>
		</tr>
		<tr>
			<td>
				Helloc
			</td>
			<td>
				Helloc
			</td>
		</tr>
	</table>
	<pre id="resume-description" class="bg-success">
		Hello
	</pre>
</div>