<div class="col-md-9 panel panel-default padding-10 mgn-top-5 standard-height">
	<table class="table table-striped">
	<% @blog_posts.each do |post| %>
		
			<tr >
				<td ><span><%= post.title %></span></td>
				<td><%= post.content %></td>
			
				<td class="post-details"><%= post.posted_by %><%= post.created_at %></td>
			</tr>
		
	<% end %>
	</table>
</div>